*{
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right, #2121e7,#ee82ee);
}
section{
  margin-bottom: 40px;
}
 ::-webkit-scrollbar{
  width: 10px;
  background-color:  #141617;
 }
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color:  #141617;
}

::-webkit-scrollbar-thumb
{
background-color: purple;
}
.img-fluid:hover{
 transform: scale(0.98);
}
 